/logs/
/node_modules/
/composer.lock
/yarn.lock
/.phpcs.xml
/phpcs.xml
/phpunit.xml

/vendor/bin/
/vendor/antecedent/
/vendor/brain/
/vendor/brainmaestro/
/vendor/dealerdirect/
/vendor/doctrine/
/vendor/hamcrest/
/vendor/mockery/
/vendor/myclabs/
/vendor/phpcompatibility/
/vendor/phpdocumentor/
/vendor/phpspec/
/vendor/phpunit/
/vendor/sebastian/
/vendor/squizlabs/
/vendor/symfony/
/vendor/webmozart/
/vendor/wp-coding-standards/
/vendor/wp-phpunit/

!/vendor/aristath/kirki/vendor
/vendor/aristath/kirki/docs/
/vendor/aristath/kirki/docs/
/vendor/aristath/kirki/.github/
/vendor/aristath/kirki/docs/
/vendor/aristath/kirki/tests/
/vendor/aristath/kirki/controls/scss/
/vendor/aristath/kirki/.*
/vendor/aristath/kirki/*.sh
/vendor/aristath/kirki/*.txt
/vendor/aristath/kirki/*.xml
/vendor/aristath/kirki/*.dist
/vendor/aristath/kirki/*.yml
/vendor/aristath/kirki/*.json
/vendor/aristath/kirki/package*
/vendor/aristath/kirki/Gruntfile.js
/vendor/aristath/kirki/example.php
