/logs/
/node_modules/
/composer.lock
/yarn.lock
/.phpcs.xml
/phpcs.xml
/phpunit.xml

/vendor/bin/
/vendor/antecedent/
/vendor/brain/
/vendor/doctrine/
/vendor/hamcrest/
/vendor/mockery/
/vendor/myclabs/
/vendor/phpdocumentor/
/vendor/phpspec/
/vendor/phpunit/
/vendor/sebastian/
/vendor/symfony/
/vendor/webmozart/
/vendor/wp-phpunit/
