.above-header {
	display: flex;
	position: relative;
	z-index: 3;
	padding: $spacing--s 0;
	transition: background-color $base--transition-duration $base--transition-timing-function;
	align-items: center;

	.widget {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
	}
}
