////
/// Content Sidebar Wrap component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/genesiscustomizer/plugin
////

.content-sidebar-wrap {

	@include margin(null auto);

	@include mq(m) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	// Sub wrap.
	.wrap {
		width: 100%;
		max-width: 100%;
	}
}
