////
/// Custom logo component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://genesiscustomizer.com/
////

.custom-logo {
	width: 100%;

	// Custom logo link.
	&-link {
		display: block;

		.menu & {
			padding: 0;
		}
	}
}
