////
/// Entry component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/genesiscustomizer/plugin
////

.footer-widgets {

	@include overlay();

	&-area {
		width: 100%;
	}

	.menu {
		display: block;
	}

	.menu-item {
		display: inline-block;
		margin: 0;
		width: 100%;
	}
}
