.mega-menu {
	display: none;
	flex-wrap: nowrap;
	position: absolute;
	width: 100%;
	top: 100%;

	&.visible {
		display: flex;
	}

	.widget {
		flex: 1;
		padding-right: 2em;

		&:last-of-type {
			padding-right: 0;
		}
	}

	.menu {
		display: block;
		padding: 0;
		columns: 2;
	}

	.menu-item {
		padding: 0;
		width: 100%;
		margin-bottom: 1em;
	}

}
