.mega-menu {
	display: flex;
	position: absolute;
	top: 100%;
	width: 100%;
	flex-wrap: nowrap;

	.widget {
		padding-right: 2em;
		flex: 1;

		&:last-of-type {
			padding-right: 0;
		}
	}

	.menu {
		display: block;
		padding: 0;
		columns: 2;
	}

	.menu-item {
		width: 100%;
		margin-bottom: 1em;
		padding: 0;
	}

}
