////
/// Menu component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/genesiscustomizer/plugin
////

.menu {
	margin: 0;
	list-style-type: none;
	width: 100%;
	font-weight: $font-weight--semibold;
	font-size: $base--font-size / $major-second;

	@include overlay();

	@include mq(m) {
		width: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		border: 0;
		position: relative;

		.widget-area {
			display: none;
		}
	}

	.no-js & {
		width: 100%;
		border: 0;
	}

	.sidebar & {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// Menu item.
	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		position: relative;

		@include margin(null auto);

		@include mq(0, m) {

			.no-js & {
				width: 100%;
				padding: 0;
			}
		}

		@include mq(m) {
			display: block;
			width: auto;
			margin: 0;
			position: relative;

			&:last-of-type {
				padding-right: 0 !important;
			}

			&:first-of-type {
				padding-left: 0 !important;
			}

			.has-logo-side & {
				width: 100%;
				padding: 0;

				a {
					justify-content: center;
					text-align: center;
				}
			}
		}

		.sidebar & {
			width: 100%;
		}
	}

	// Link
	a {
		text-decoration: none;
		display: block;
	}

	a:hover,
	a:focus,
	.current-menu-item > a {
	}

	// Menu toggle.
	&-toggle {
		display: none;
		align-items: center;
		justify-content: center;
		margin: 0;
		min-height: 2em;
		padding: 0;
		order: 3;
		z-index: 5;
		box-shadow: none;

		@include hover-focus {
			box-shadow: none;
			outline: none;
		}

		@include mq(0, m) {
			display: flex;
		}

		.has-logo-right-mobile & {
			order: -2;
		}

		&-bar {

			@include mq(0, m) {
				order: 1;
				z-index: 5;

				.has-logo-above-mobile &,
				.has-logo-below-mobile & {
					order: 2;
					width: 100vw;
					max-width: 100vw;
					margin: 0 -5vw;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
				}

				.has-logo-below-mobile & {
					order: -1;
				}
			}

			@include mq(m) {
				display: none;
			}
		}

		&-text {
			margin-left: $spacing--s;
		}

		&-icon,
		&-icon:before,
		&-icon:after {
			display: block;
			position: absolute;
			content: "";
		}

		&-icon {
			top: auto;
			right: auto;
			bottom: auto;
			margin: auto;
			position: relative;
		}

		&.activated {

			.menu-toggle-icon {

				&:before {
					top: 0;
					transform: rotate(45deg);
				}

				&:after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}

	.flex-start & {
		justify-content: flex-start;
	}

	.center & {
		.menu-item {
			justify-content: center;
		}
	}

	.flex-end & {

		.menu-item {
			justify-content: flex-end;
			padding-right: 3em;
			text-align: right;
		}

		.menu-item-has-children {
			padding-right: 0;
		}
	}

	&-overlay {
		opacity: 0;
		transition: opacity $base--transition-duration $base--transition-timing-function;

		@include position(fixed, -100vw null null -100vw);

		@include mq(m) {
			display: none;
		}

		.has-mobile-menu-top &,
		.has-mobile-menu-center & {
			display: none;
		}

		&.activated {
			opacity: 1;
			z-index: 3;
			top: 0;
			left: 0;

			@include size(100%);
		}
	}

}
