////
/// Site title component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://genesiscustomizer.com/
////

.site-title {

	.title-area & {
		margin: 0;
		font-weight: $font-weight--bold;
	}

	&-link {
		display: block;
	}
}
