.sticky-logo {
	display: none;

	&-link {
		display: block;
	}

	.has-sticky-header .shrink & {
		display: block;
	}
}

.has-sticky-logo .site-header.shrink {

	.custom-logo,
	.transparent-logo {
		display: none;
	}
}
