////
/// Template component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://genesiscustomizer.com/
////

.page-template-blocks {

	.content {
		width: 100%;
		margin: 0 auto;
	}

	.content > .entry {
		padding: 0;
	}
}
