////
/// Title area component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/genesiscustomizer/plugin
////

.title-area {
	position: relative;
	line-height: $line-height--heading;

	@include mq(0, m) {

		.has-logo-left-mobile & {
			margin-right: auto;
			margin-left: 0;
		}

		.has-logo-above-mobile &,
		.has-logo-below-mobile & {
			text-align: center;
		}

		.has-logo-right-mobile & {
			margin-right: 0;
			margin-left: auto;
			text-align: right;
		}
	}

	@include mq(m) {

		.has-logo-above & {
			width: auto;
			text-align: center;

			@include padding(null 2em);
		}

		.has-logo-center & {
			text-align: center;

			@include padding(null 2em);
		}

		.has-logo-right & {
			text-align: right;
		}

		.has-logo-side & {
			text-align: center;
			align-self: flex-start;
		}
	}
}

