.has-logo-side .site-container {
  padding-left: 30rem;
}

.has-logo-side .site-header {
  width: 30rem;
}

.has-logo-side.admin-bar .site-header {
  padding-top: 32px;
}

.has-logo-side .site-header,
.has-logo-side.has-sticky-header .site-header,
.has-logo-side.has-sticky-header-desktop .site-header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.has-logo-side .site-header .wrap,
.has-logo-side.has-sticky-header .site-header .wrap,
.has-logo-side.has-sticky-header-desktop .site-header .wrap {
  justify-content: center;
  align-items: flex-start;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.has-logo-side .primary-header {
  height: 100%;
}

.has-logo-side .primary-header .wrap {
  height: 100%;
}

.has-logo-above .primary-header > .wrap {
  justify-content: center;
}

.has-logo-left .primary-header > .wrap,
.has-logo-right .primary-header > .wrap {
  flex-wrap: nowrap;
}

.has-logo-center .primary-header > .wrap {
  justify-content: center;
}

.has-logo-above .title-area {
  width: auto;
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.has-logo-center .title-area {
  text-align: center;
  padding-right: 2em;
  padding-left: 2em;
}

.has-logo-right .title-area {
  text-align: right;
}

.has-logo-side .title-area {
  text-align: center;
  align-self: flex-start;
}

.sub-menu {
  position: absolute;
  z-index: 1;
  margin: 0 0 0 -1em;
  padding: 1em;
}

.has-logo-side .sub-menu {
  position: relative;
  margin: 0 auto;
}

.sub-menu .menu-item {
  width: auto;
}

.sub-menu .menu-item:last-of-type {
  margin-bottom: 0;
}

.sub-menu .sub-menu {
  top: 0;
  left: 100%;
  margin-top: -1em;
  white-space: nowrap;
}

.sub-menu-toggle {
  display: none;
}

.has-logo-above .header-left,
.has-logo-center .header-left {
  margin-right: auto;
}

.has-logo-side .header-left {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.has-logo-above .header-right,
.has-logo-center .header-right {
  margin-left: auto;
}

.has-logo-side .header-right {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-self: flex-end;
}

.content-sidebar-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-content .content {
  order: 1;
}

.full-width-content .content {
  margin-right: auto;
  margin-left: auto;
}

.has-logo-side .header-search-toggle {
  display: none;
}

.hide-desktop {
  display: none;
}

.show-desktop {
  display: flex;
}

.one-half,
.one-third,
.one-fourth,
.one-sixth,
.two-thirds,
.two-fourths,
.two-sixths,
.three-fourths,
.three-sixths,
.four-sixths,
.five-sixths {
  float: left;
}

.first {
  clear: both;
}

.alignleft {
  float: left;
  margin: 0 1.6rem 1.6rem 0;
}

.alignright {
  float: right;
  margin: 0 0 1.6rem 1.6rem;
}

.flex-start-desktop {
  margin-right: auto;
}

.flex-center-desktop {
  margin-right: auto;
  margin-left: auto;
}

.flex-end-desktop {
  margin-left: auto;
}