.has-logo-side .site-container {
  padding-left: 30rem;
}

.has-logo-side .site-header {
  width: 30rem;
}

.has-logo-side.admin-bar .site-header {
  padding-top: 32px;
}

.has-logo-side .site-header,
.has-logo-side.has-sticky-header .site-header,
.has-logo-side.has-sticky-header-desktop .site-header {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
}

.has-logo-side .site-header .wrap,
.has-logo-side.has-sticky-header .site-header .wrap,
.has-logo-side.has-sticky-header-desktop .site-header .wrap {
  justify-content: center;
  align-items: flex-start;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.has-logo-side .primary-header {
  height: 100%;
}

.has-logo-side .primary-header .wrap {
  height: 100%;
}

.has-logo-above .primary-header > .wrap {
  justify-content: center;
}

.has-logo-left .primary-header > .wrap,
.has-logo-right .primary-header > .wrap {
  flex-wrap: nowrap;
}

.has-logo-center .primary-header > .wrap {
  justify-content: center;
}

.has-logo-above .title-area {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  width: auto;
}

.has-logo-center .title-area {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

.has-logo-right .title-area {
  text-align: right;
}

.has-logo-side .title-area {
  text-align: center;
  align-self: flex-start;
}

.nav-primary {
  display: flex;
}

.has-logo-side .nav-primary {
  width: 100%;
}

.has-logo-side .nav-primary .menu {
  width: 100%;
}

.has-logo-above .nav-primary {
  width: 100%;
  justify-content: center;
}

.has-logo-above .nav-primary.flex-start-desktop {
  justify-content: flex-start;
}

.has-logo-above .nav-primary.flex-center-desktop {
  justify-content: center;
}

.has-logo-above .nav-primary.flex-end-desktop {
  justify-content: flex-end;
}

.nav-secondary {
  display: flex;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 2;
  align-items: center;
}

.nav-secondary .wrap {
  height: 100%;
  position: relative;
}

.nav-secondary .menu {
  height: 100%;
  justify-content: flex-start;
}

.menu {
  border: 0;
  display: flex;
  position: relative;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu .widget-area {
  display: none;
}

.menu-item {
  display: block;
  margin: 0;
  position: relative;
  width: auto;
}

.menu-item:last-of-type {
  padding-right: 0 !important;
}

.menu-item:first-of-type {
  padding-left: 0 !important;
}

.has-logo-side .menu-item {
  padding: 0;
  width: 100%;
}

.has-logo-side .menu-item a {
  text-align: center;
  justify-content: center;
}

.menu-toggle-bar {
  display: none;
}

.menu-overlay {
  display: none;
}

.sub-menu {
  margin: 0 0 0 -1em;
  padding: 1em;
  position: absolute;
  z-index: 1;
}

.has-logo-side .sub-menu {
  margin: 0 auto;
  position: relative;
}

.sub-menu .menu-item {
  width: auto;
}

.sub-menu .menu-item:last-of-type {
  margin-bottom: 0;
}

.sub-menu .sub-menu {
  left: 100%;
  margin-top: -1em;
  top: 0;
  white-space: nowrap;
}

.sub-menu-toggle {
  display: none;
}

.header-left {
  margin-right: auto;
}

.has-logo-side .header-left {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header-right {
  margin-left: auto;
}

.has-logo-side .header-right {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: flex-end;
}

.has-transparent-header-desktop .site-header {
  position: absolute;
}

.has-transparent-header-desktop .transparent-logo-link {
  display: block;
}

.has-transparent-header-desktop.elementor-editor-active:hover .site-header {
  display: none;
}

.has-transparent-header-desktop.has-transparent-logo .custom-logo-link {
  display: none;
}

.content-sidebar-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-content .content {
  order: 1;
}

.full-width-content .content {
  margin-left: auto;
  margin-right: auto;
}

.has-2-columns .content.masonry {
  -webkit-columns: 2;
  columns: 2;
}

.has-3-columns .content.masonry {
  -webkit-columns: 3;
  columns: 3;
}

.has-4-columns .content.masonry {
  -webkit-columns: 4;
  columns: 4;
}

.archive .content.masonry .entry {
  break-inside: avoid;
  margin-left: 0;
  width: 100%;
  -webkit-column-break-inside: avoid;
}

.wp-block-column {
  margin-left: 3rem;
}

.wp-block-column:first-of-type {
  margin-left: 0;
}

.has-logo-side .header-search-toggle {
  display: none;
}

.has-sticky-header-desktop .site-header {
  position: absolute;
  top: 0;
}

.has-sticky-header-desktop.has-sticky-nav-secondary .shrink .nav-secondary {
  opacity: 1;
}

.has-sticky-header-desktop .shrink .sticky-logo-link .sticky-logo {
  display: block;
}

.hide-desktop {
  display: none;
}

.show-desktop {
  display: flex;
}

.one-half,
.one-third,
.one-fourth,
.one-sixth,
.two-thirds,
.two-fourths,
.two-sixths,
.three-fourths,
.three-sixths,
.four-sixths,
.five-sixths {
  float: left;
}

.first {
  clear: both;
}

.alignleft {
  float: left;
  margin: 0 1.6rem 1.6rem 0;
}

.alignright {
  float: right;
  margin: 0 0 1.6rem 1.6rem;
}

.flex-start-desktop {
  margin-right: auto;
}

.flex-center-desktop {
  margin-left: auto;
  margin-right: auto;
}

.flex-end-desktop {
  margin-left: auto;
}