.has-logo-above-mobile .primary-header > .wrap,
.has-logo-below-mobile .primary-header > .wrap {
  justify-content: center;
}

.has-logo-left-mobile .title-area {
  margin-right: auto;
  margin-left: 0;
}

.has-logo-above-mobile .title-area,
.has-logo-below-mobile .title-area {
  text-align: center;
}

.has-logo-right-mobile .title-area {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

.nav-primary {
  display: none;
  width: 100vw;
}

.has-mobile-menu-left .nav-primary,
.has-mobile-menu-right .nav-primary,
.has-mobile-menu-center .nav-primary {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 3.2rem;
}

.has-mobile-menu-center .nav-primary {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.has-mobile-menu-center .nav-primary.visible {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.has-mobile-menu-right .nav-primary {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}

.has-mobile-menu-left .nav-primary {
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.has-mobile-menu-left .nav-primary.visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.has-mobile-menu-top .nav-primary {
  transition: none;
  order: 4;
}

.nav-secondary {
  display: none;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.menu {
  width: 100%;
  margin: 0;
}

.menu-item {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-footer .menu-item {
  width: auto;
}

.menu-toggle {
  display: flex;
}

.menu-overlay {
  display: block;
}

.has-logo-above-mobile .header-left,
.has-logo-below-mobile .header-left {
  margin-right: auto;
  flex: 1;
}

.has-logo-above-mobile .header-right,
.has-logo-below-mobile .header-right {
  margin-left: auto;
  flex: 1;
}

.wp-block-columns {
  flex-wrap: wrap;
}

.wp-block-column {
  flex: none;
  width: 100%;
}

.gallery-item:nth-of-type(2n + 1) {
  margin-left: 0;
}

.has-logo-above-mobile .header-search-toggle,
.has-logo-below-mobile .header-search-toggle {
  position: absolute;
}

.mega-menu {
  display: none !important;
}

.hide-mobile {
  display: none;
}

.show-mobile {
  display: flex;
}

.center-content .alignfull,
.full-width-content .alignfull,
.center-content .alignwide,
.full-width-content .alignwide {
  width: 100vw;
}