.simple-social-icons svg[class^='social-'],
.simple-social-icons svg[class*=' social-'] {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.simple-social-icons {
	overflow: hidden;
}

.simple-social-icons ul {
	margin: 0;
	padding: 0;
}

.simple-social-icons ul li {
	float: left;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	list-style-type: none;
}

.simple-social-icons ul li a {
	display: inline-block;
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	border: none;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}

.simple-social-icons ul.aligncenter {
	text-align: center;
}

.simple-social-icons ul.aligncenter li {
	display: inline-block;
	float: none;
}

.simple-social-icons .screen-reader-text {
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
